*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
}

a{
    text-decoration: none;
}

header{
    background-color: #fae6ed;
    padding: 10px;
}

.navbar .collapse.navbar-collapse{
    flex-grow: inherit;
}

.logo1 img{
    height: 100px;
}   


.nav-link{
    font-size: 20px;
    padding-right: 60px;
    color: #5c5155;
}

.nav-link:hover{
    color: #762074;
}



#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
     ,url(/img/blacknwhite.jpg);
    background-repeat: no-repeat;
    font-size: 35px;
    background-position: center;
   
    
}

#hero button {
    display: flex;
    justify-content: center;
    text-decoration:none;
     text-align:center; 
    padding:10px 77px; 
    border:solid 10px #fae6ed; 
    -webkit-border-radius:23px;
    -moz-border-radius:23px; 
    border-radius: 23px; 
    font:30px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color: #5c5155; 
    background:#fae6ed; 
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    cursor: pointer;
}

#hero button:hover{
  opacity: 0.9;
}

#hero p{
    display: flex;
    justify-content: end;
}

.titulo{
    display: flex;
    justify-content: center;
    color: #5c5155;
    font-size: 40px;
    padding-top: 50px;
}
 .container{
    margin-bottom: 10rem;
    margin-top: 5rem;
 }
 .card{
    margin: auto;
    border-radius: 6px;
    overflow: hidden;
    color: #5c5155;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0, 2);
    cursor: default;
    background-color: #ffffff;
    margin-bottom: 2rem;
  
    }

.card:hover{
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
 }

.card img{
    width: 384px;
    height: 384px;
 }

 .contenido{
    padding: 15px;
    text-align: center;
    justify-content: center;
}


.pie-pagina{
    background-color: #F1DAEA;
    bottom: 0;
    width: 100%;
    max-height: 200px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    margin-bottom: 0 auto;
}
.pie-pagina .grupo-1 .box figure{
    display: flex;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    margin-left: 20px;
    width: 200px;
    height: 200px;
}

.pie-pagina .grupo-1 .box h2{
    color: #5c5155;
    margin-bottom: 25px;
    font-size: 25px;
}
.pie-pagina .grupo-1 .box p{
    color: #5c5155;
    margin-bottom: 10px;
}

.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #5c5155;
}
.grupo-2{
    background-color: #5c5155;
    padding: 15px 10px;
    text-align: center;
    color: #ffffff;
    height: 40px
}
 .artista-img{
    width: 100%;
    height: 80vh;
 }
